<div class="page-header">
  <h2 class="is-2">Runs</h2>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <div class="pod">
      <div class="activity-form">
      <%= form_tag(runs_path, method: :get, class: 'run-search-form') do |f| %>
        <div class="col-sm-12 search-label">
          Date
        </div>
        <div class="form-group">
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :start_date, (@runs_options[:start_date] || Date.today - 90), { class: 'form-control', placeholder: 'From' } %>
          </div>
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :end_date, @runs_options[:end_date], { class: 'form-control', placeholder: 'To' } %>
          </div>
        </div>
        <div class="col-sm-12 search-label">
          Distance (miles)
        </div>
        <div class="form-group">
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :distance_min, @runs_options[:distance_min], { class: 'form-control', placeholder: 'min' } %>
          </div>
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :distance_max, @runs_options[:distance_max], { class: 'form-control', placeholder: 'max' } %>
          </div>
        </div>
        <div class="col-sm-12 search-label">
          Duration (minutes)
        </div>
        <div class="form-group">
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :duration_min, @runs_options[:duration_min], { class: 'form-control', placeholder: 'min' } %>
          </div>
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :duration_max, @runs_options[:duration_max], { class: 'form-control', placeholder: 'max' } %>
          </div>
        </div>
        <div class="col-sm-12 search-label">
          Steps
        </div>
        <div class="form-group">
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :steps_min, @runs_options[:steps_min], { class: 'form-control', placeholder: 'min' } %>
          </div>
          <div class="col-xs-6 col-sm-6">
            <%= text_field_tag :steps_max, @runs_options[:steps_max], { class: 'form-control', placeholder: 'max' } %>
          </div>
        </div>
        <div class="form-group">
          <%= submit_tag 'Search', class: 'btn btn-primary search-button' %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
  <div class="column is-three-quarters">
    <div class="pod">
      <div id="chart-monthly-breakdown"></div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="pod">
      <div class="table-responsive">
        <table id="runs-table" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Distance<br>(miles)</th>
              <th>Duration<br>(H:MM:SS)</th>
              <th>Pace<br>(min/mile)</th>
              <th>Steps</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @dataset.each do |run| %>
            <tr>
              <td class="runs-date"><%= format_run_time(run.start_time) %></td>
              <td class="runs-distance"><%= format_distance(run.distance) %></td>
              <td class="runs-duration"><%= format_duration(run.duration) %></td>
              <td class="runs-pace"><%= format_pace(run.duration, run.distance) %></td>
              <td class="runs-steps"><%= run.steps %></td>
              <td align="center"><%= link_to 'Details', run_path(run.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
var months = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'July', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'};

var dataset = <%= raw @monthly_breakdown.to_json %>;

// set the dimensions and margins of the graph
var margin = {top: 40, right: 40, bottom: 50, left: 50},
    width = 800 - margin.left - margin.right,
    height = 410 - margin.top - margin.bottom;

// set the ranges
var x = d3.scaleBand()
          .range([0, width])
          .padding(0.1);

var y = d3.scaleLinear()
          .range([height, 0]);

var y_ticks = dataset.length > 0 ? d3.max(dataset, function(d) { return d.total; }) : 1;

// append the svg object to the body of the page
// append a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#chart-monthly-breakdown").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// format the data
dataset.forEach(function(d) {
  d.month = months[d.month];
});

// scale the range of the data in the domains
x.domain(dataset.map(function(d) { return d.month; }));
y.domain([0, d3.max(dataset, function(d) { return d.total; })]);

// append the rectangles for the bar chart
svg.selectAll(".bar")
    .data(dataset)
  .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.month); })
    .attr("width", x.bandwidth())
    .attr("y", function(d) { return y(d.total); })
    .attr("height", function(d) { return height - y(d.total); });

// add the x Axis
svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
  .append("text")
    .attr("class", "axis-title")
    .attr("dx", ".71em")
    .style("text-anchor", "middle")
    .attr("transform", "translate("+ (width/2) +",40)")
    .text(new Date().getFullYear());

// add the y Axis
svg.append("g")
    .call(d3.axisLeft(y).ticks(y_ticks))
  .append("text")
    .attr("class", "axis-title")
    .attr("transform", "rotate(-90)")
    .attr("y", -40)
    .attr("x", 0 - (height / 2))
    .attr("dy", ".71em")
    .style("text-anchor", "middle")
    .text("Monthly Total");
</script>
