<div class="page-header">
  <h2>Runs</h2>
</div>

<div class="activity-form">
  <%= form_tag(runs_path, method: :get, class: 'form-inline') do |f| %>
    <div class="form-group">
      <%= label_tag :after_date, 'Runs on or after' %>&nbsp;
      <%= text_field_tag :after_date, (@runs_options[:date] || Date.today - 60), { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <div class="form-group">
        <%= submit_tag 'Display', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<% if @dataset.present? %>
  <div class="row">
    <div class="col-lg-8 col-md-9 col-sm-12">
      <div class="table-responsive">
        <table id="runs-table" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th class="runs-date">Date</th>
              <th class="runs-distance">Distance (mi)</th>
              <th class="runs-duration">Duration</th>
              <th class="runs-pace">Pace (min/mi)</th>
              <th class="runs-steps">Steps</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @dataset.each do |run| %>
            <tr>
              <td class="runs-date"><%= format_run_time(run.start_time) %></td>
              <td class="runs-distance"><%= format_distance(run.distance) %></td>
              <td class="runs-duration"><%= format_duration(run.duration) %></td>
              <td class="runs-pace"><%= format_pace(run.duration, run.distance) %></td>
              <td class="runs-steps"><%= run.activity.steps %></td>
              <td align="center"><%= link_to 'Details', run_path(run.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
