<!-- HEADER -->
<header id="header" class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to runs_path, class: 'navbar-brand' do %>
          <strong>Too Fit</strong> To Quit
        <% end %>
      </div>

      <div id="navbar-main" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Activity <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Runs', runs_path %></li>
                <li><%= link_to 'Steps', steps_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Import Data <span class="caret"></span></a>
              <ul id="import-runs-dropdown" class="dropdown-menu" aria-labelledby="dLabel">
                <div id="import-runs-form">
                  <p class="text-muted">Import activity data from Fitbit and Strava beginning on the following date</p>
                  <%= form_tag(imports_path, class: 'form-inline') do %>
                    <div class="form-group">
                      <%= text_field_tag(:import_date, Date.today.strftime('%Y-%m-%d'), id: "import-date", class: "form-control", placeholder: "YYYY-MM-DD") %>
                    </div>
                    <%= submit_tag("Import Data", class: 'btn btn-primary') %>
                  <% end %>
                </div>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Authentication <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/users/auth/fitbit_oauth2">Fitbit</a></li>
                <li><a href="/users/auth/strava">Strava</a></li>
                <li class="divider"></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to('Sign Up', new_user_registration_path) %></li>
            <li><%= link_to('Login', new_user_session_path) %></li>
          <% end %>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
</header>
<!-- /HEADER -->
